@font-face {
  font-family: "Myriad Pro";
  src: url("./MyriadPro-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./MyriadPro-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./MyriadPro-Bold.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Myriad Pro Condensed";
  src: url("./MyriadPro-Bold-Condensed.otf") format("opentype");
  font-weight: 800;
}